<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .help_text{
            color:red;
        }
    </style>
    <title>Student Registration</title>
</head>
<body>
    <form action="" method="POST" novalidate>
        {% csrf_token %} <!--Gives protection against cross site request forgery and add a hidden input field with random value in form tag by which it will gets impposible to attack the user-->
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
</body>
</html>