{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Services</h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-searchengin fa-2x mb-3 se-color"></i>
            <h4 class="ss-color">SEO</h4>
            <p>
                laokdwo wdwdwd wdxw dwsx,w dw, x dws, x,w ,xw, x, ,w, ws
            </p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 wde-color"></i>
            <h4 class="ss-color">Web Design</h4>
            <p>
                laokdwo wdwdwd wdxw dwsx,w dw, x dws, x,w ,xw, x, ,w, ws
            </p>
        </div>
       
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 wd-color"></i>
            <h4 class="ss-color">Web Development</h4>
            <p>
                laokdwo wdwdwd wdxw dwsx,w dw, x dws, x,w ,xw, x, ,w, ws
            </p>
        </div>
    </div>
    
    

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-android fa-2x mb-3 a-color"></i>
            <h4 class="ss-color">Android</h4>
            <p>
                laokdwo wdwdwd wdxw dwsx,w dw, x dws, x,w ,xw, x, ,w, ws
            </p>
        </div>

        <div class="col-sm-4">
            <i class="fa-brands fa-apple fa-2x mb-3 i-colo"></i>
            <h4 class="ss-color">IOS</h4>
            <p>
                laokdwo wdwdwd wdxw dwsx,w dw, x dws, x,w ,xw, x, ,w, ws
            </p>
        </div>
    
        <div class="col-sm-4">
            <i class="fa-solid fa-rectangle-ad fa-2x mb-3 m-color"></i>
            <h4 class="ss-color">Marketing</h4>
            <p>
                laokdwo wdwdwd wdxw dwsx,w dw, x dws, x,w ,xw, x, ,w, ws
            </p>
        </div>
    </div>
    
    

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil fa-2x mb-3 p-color"></i>
            <h4 class="ss-color">Pencil</h4>
            <p>
                laokdwo wdwdwd wdxw dwsx,w dw, x dws, x,w ,xw, x, ,w, ws
            </p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-3 d-color"></i>
            <h4 class="ss-color">Database</h4>
            <p>
                laokdwo wdwdwd wdxw dwsx,w dw, x dws, x,w ,xw, x, ,w, ws
            </p>
        </div>
    
        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-3 s-color"></i>
            <h4 class="ss-color">Support</h4>
            <p>
                laokdwo wdwdwd wdxw dwsx,w dw, x dws, x,w ,xw, x, ,w, ws
            </p>
        </div>
    </div>



    
</div>
{% endblock content %}