<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Content 10/08/2022</title>
</head>
<body>
    <p><h1>
        <b>GO TO /practical/1/ FOR 1ST PRATICAL</b> <br>
        Cookies = <br> 1) Persistant cookies == <br>Which doesn't delete when we close the browser
        <br>
        2) Session cookies == <br>Which got deleted when we close the browser
        <br>
        <br>

        Object Relational Mapper(ORM) =
        <br>
        1=ORM is used to convert python class code into any of the databases
        <br>
        2=QuerySet is used to give commands for CURD Operations and for the changes to be made in databases
        <br>
        <br>
        Models
        <br>
        <li>
        a python class is called a model and a model makes a database table in database</li> <br>
        <li>where as the attributes are the fields of the database table</li> <br>
        <li>makemigrations will make the model class into sql queries</li> <br>
        <li>migrate will execute the sql queries</li>

    </h1></p>
</body>
</html>