{% extends 'core/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="mt-5">
    <div class="text-center">
        <img src="{% static 'core/images/AmanPhoto.jpg' %}" alt="Photo" class="img-thumbnail" width="250px" height="250px">
    </div>
    <div class=" mt-5 text-white mx-5 text-justify">
        <h2 class="font-weight-bold st-font">Hello,</h2>
        <div class="px-4" style="line-height:2rem;">
            <p style="text-indent:100px;">I am <b class="text-warning">Amandeep Singh</b>. I am a Fresher. I have completed my Bachelor of Technology in 2021 in the trade Computer Science Engineering with a score of 66%.
            <p><b class="text-warning">My Skills are:</b><br>
            <li>React.js</li>
            <li>JavaScript</li>
            <li>Django</li>
            <li>Python</li>
            <li>MySQL</li>
            <li>Core Java</li></p>
            <p><b class="text-warning">Courses</b><br>
                I have also completed some online  courses of <b>Python</b>, <b>Django</b> and <b>Reactjs</b>.
            </p>
            <p>
                <b class="text-warning">Tools:</b><br>
                <li>Git</li>
                <li>Visual Studio Code</li>
                <li>XAMPP</li>
                <li>IntelliJ Idea</li>
            </p>
            <p>
                <b class="text-warning">Projects:</b><br>
                <li>TextUtils: Done in <b>React</b></li>
                <li>CRUD Project: Done in <b>Django</b></li>
                <li>Resume Website: Done in <b>Django</b></li>
                <li>Bank management
                    system: Done in <b>Python</b></li>
            </p>
            <p>

            </p>
            </p>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
        <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
    </div>
</div>
{% endblock content %}