{% load static %}
<div class="border-end border-warning h-100">
    <div class="text-center">
        <img src="{% static 'core/images/AmanPhoto.jpg' %}"   alt="Profile_Photo" class="img-fluid rounded-circle mt-4" width="120px" height="50px">
        <h5 class="text-white mt-3 st-font"><b>Amandeep Singh</b></h5>
    </div>
    <hr class="border-light">
        <nav class="nav flex-column text-center">
            <a href="{% url 'home' %}" class="nav-link {{home}}"><b>Home</b></a>
            <a href="{% url 'services' %}" class="nav-link {{services}}"><b>Services</b></a>
            <a href="{% url 'skill' %}" class="nav-link {{skills}}"><b>Skill</b></a>
            <a href="{% url 'contact' %}" class="nav-link {{contact}}"><b>Contact</b></a>   
        </nav>
</div> 
</div>