<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Registration</title>
    <style>
        .errorlist{
            list-style-type: none;
            color:brown;
            font-size:10px;
            margin:0;
            padding:0;
        }
    </style>
</head>
<body>
    {% block content %}
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {{form.non_key_errors}}  <!--This is most important for error messages because it gives the error message of form by addressing them as non_key_errors-->
        {% for field in form %}
            <div>
                {{field.label_tag}} 
                {{field}}
                <!-- {{field.errors}} main if we want to give different styles and things we can't seperately so,we use for loop for individual stuff-->
                {% for error in field.errors %}
                    <span class="errorlist">{{error}}</span>    
                {% endfor %}
            </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    ok!!
    <a href="{% url 'success' %}">Try url for Successfull registration</a>
    {% endblock content %}
</body>
</html>