<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Django Fees</title>
</head>
<body>
    <h1>Django Course: {{tittle}}</h1>
    <h2>Fees OF Django Course: {{fees}}</h2>
    <img src="{% static 'images/111789051speakers-subwoofer-playing-music-animated-gif-image-5.gif' %}" alt="Luffy">
    <img src="{% static 'images/2033468439funny-toystory-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    
    <img src="{% static 'images/832883214dancing-cartoon-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <img src="{% static 'images/689890353spiderman-animated-gif.gif' %}" alt="">
    <hr>
    <form action="">
        <input type="button" value="Click Me" onclick="disp()">
    </form>
    <script src="{% static 'js/all.js' %}"></script>
    
</body>
</html>