<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color:black;
            color:seashell;
        }
    </style>
    <title>Fees Python</title>
</head>
<body>
    {{stu}} <br>        <!--Dot LookUp-->

    {{stu.stu1}} <br>   <!--the keys are the variables -->
    {{stu.stu2}} <br>
    {{stu.stu3}} <br>
    {{stu.stu4}} <br>

    {{stu.stu1.name}} <br>
    {{stu.stu1.roll_no}} <br>
    {{stu.stu2.name}} <br>
    {{stu.stu2.roll_no}} <br>
    {{stu.stu3.name}} <br>
    {{stu.stu3.roll_no}} <br>
    {{stu.stu4.name}} <br>
    {{stu.stu4.roll_no}} <br>

    <h1>in feesthree.html</h1>

</body>
</html>